/* This file is for your main application css. */

@import "./phoenix.css";
.help-block {
    color: rgb(233, 10, 10);
    text-shadow: 1px 1px 5px white;
    text-transform: capitalize;
    position: absolute;
    top: 120px;
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
    width: 100%;
}
.form-group {
    position: relative;
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: slategrey;
}
input#company_org_name {
    margin-top: 25px;
    width: 50%;
    background-color: #cccccc42;
    padding-left: 10px;
    color: white;
}
::placeholder {
    color: black;
}
.header-main {
    font-size: 5.1rem!important;
}
nav.light-blue {
    height: 100px;
    padding: 25px;
}
p.whats-good {
    padding-top: 25px;
    color: rgba(0, 0, 0, 0.541);
    text-align: center;
    font-size: 2rem;
}
main.container {
    /* background-color: slategray;
    padding: 25px;
    margin-top: 50px;
    border-radius: 5px; */
}
h5, h4 {
    color: rgba(0, 0, 0, 0.541);
    padding: 5px 0 0 5px;
}
ul.collection {
    background-color: white;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.541);
}
.pagination li {
    height: 40px!important;
}
.whiskey, flex-container > div {
    margin: 10px;
    background-color: #f1f1f1;
    text-align: center; 
    width: 100px;
    line-height: 75px;
}
li.collection-item {
    display: -webkit-box;
}
.col.s12.m6.l3, .card {
    /* min-height: 50vh; */
}
.pagination {
    padding-top: 10px;
}
img {
    width: 75%!important;
    margin: auto;
}