/* This file is for your main application css. */

@import "./phoenix.css";
.help-block {
    color: rgb(233, 10, 10);
    text-shadow: 1px 1px 5px white;
    text-transform: capitalize;
    position: absolute;
    top: 120px;
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: slategrey;
}

input#company_org_name {
    margin-top: 25px;
    width: 50%;
    background-color: #cccccc42;
    padding-left: 10px;
    color: white;
}

::placeholder {
    color: black;
}

.header-main {
    font-size: 5.1rem!important;
}

nav.light-blue {
    height: 100px;
    padding: 25px;
}

p.whats-good {
    padding-top: 25px;
    color: white;
}

main.container {
    background-color: slategray;
    padding: 25px;
    margin-top: 50px;
    border-radius: 5px;
}
h5, h4 {
    color: white;
}