
<%= form_for @changeset, Routes.retrieve_path(@conn, :create), fn f -> %>
    <div class="form-group">
    <h4>Search Github</h4>
        <%= text_input f, :org_name, placeholder: "Github Organization Name", class: "form-control" %>
        <%= submit "Search", class: "btn btn-primary waves-effect waves-light orange" %>
        <%= error_tag f, :org_name %>
    </div>
<% end %>